ĐỌC FILE STOCKS2.CSV

In [35]:
import pandas as pd
stocks1=pd.read_csv('D:/17A3KHDL/LAB3/DATA/stocks1.csv')
stocks2=pd.read_csv('D:/17A3KHDL/LAB3/DATA/stocks2.csv')

GỘP STOCKS1 VÀ STOCKS2 THÀNH STOCKS

In [36]:
stocks=pd.concat([stocks1,stocks2], ignore_index=True)
print(stocks)

        date symbol     open       high      low    close    volume
0   01-03-19   AMZN  1655.13  1674.2600  1651.00  1671.73   4974877
1   04-03-19   AMZN  1685.00  1709.4300  1674.36  1696.17   6167358
2   05-03-19   AMZN  1702.95  1707.8000  1689.01  1692.43   3681522
3   06-03-19   AMZN  1695.97        NaN      NaN  1668.95   3996001
4   07-03-19   AMZN  1667.37  1669.7500  1620.51  1625.95   4957017
5   01-03-19   AAPL   174.28   175.1500   172.89   174.97  25886167
6   04-03-19   AAPL   175.69   177.7500   173.97   175.85  27436203
7   05-03-19   AAPL   175.94   176.0000   174.54   175.53  19737419
8   06-03-19   AAPL   174.67   175.4900   173.94   174.52  20810384
9   07-03-19   AAPL   173.87   174.4400   172.02   172.50  24796374
10  01-03-19   GOOG  1124.90  1142.9700  1124.75  1140.99   1450316
11  04-03-19   GOOG  1146.99  1158.2800  1130.69  1147.80   1446047
12  05-03-19   GOOG  1150.06        NaN      NaN  1162.03   1443174
13  06-03-19   GOOG  1162.49  1167.5700  1155.49  1157.86   1099289
14  07-03-19   GOOG  1155.72  1156.7600  1134.91  1143.30   1166559
15  01-03-19     FB   162.60   163.1320   161.69   162.28  11097770
16  04-03-19     FB   163.90   167.5000   163.83   167.37  18894689
17  05-03-19     FB   167.37   171.8800   166.55   171.26  28187890
18  06-03-19     FB   172.90   173.5700   171.27   172.51  21531723
19  07-03-19     FB   171.50   171.7400   167.61   169.13  18306504
20  01-03-19   TSLA   306.94   307.1300   291.90   294.79  22911375
21  04-03-19   TSLA   298.12   299.0000   282.78   285.36  17096818
22  05-03-19   TSLA   282.00   284.0000   270.10   276.54  18764740
23  06-03-19   TSLA   276.48   281.5058   274.39   276.24  10335485
24  07-03-19   TSLA   278.84   284.7000   274.25   276.59   9442483

TÍNH GIÁ TRỊ TRUNG BÌNH (OPEN,HIGH,LOW,CLOSE) CHO MỖI NGÀY

In [37]:
stocks['date'] = pd.to_datetime(stocks['date'])
stocks_ngay = stocks.groupby('date')[['open', 'high', 'low', 'close']].mean()
print('Giá trung bình (open, high, low, close) cho mỗi ngày :')
print(stocks_ngay)

Giá trung bình (open, high, low, close) cho mỗi ngày :
               open       high       low    close
date
2019-01-03  684.770  692.52840  680.4460  688.952
2019-04-03  693.940  702.39200  685.1260  694.510
2019-05-03  695.664  584.92000  575.0500  695.558
2019-06-03  696.502  449.53395  443.7725  690.016
2019-07-03  689.460  691.47800  673.8600  677.494

C:\Users\Admin\AppData\Local\Temp\ipykernel_21216\2992330722.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  stocks['date'] = pd.to_datetime(stocks['date'])

HIỂN THỊ 5 DÒNG ĐẦU TIÊN CỦA HEAD

In [21]:
print('Hiển thi 5 dòng đầu của kết quả :')
print(stocks.head())

Hiển thi 5 dòng đầu của kết quả :
        date symbol     open     high      low    close   volume  mean_open  \
0 2019-01-03   AMZN  1655.13  1674.26  1651.00  1671.73  4974877    1655.13
1 2019-04-03   AMZN  1685.00  1709.43  1674.36  1696.17  6167358    1685.00
2 2019-05-03   AMZN  1702.95  1707.80  1689.01  1692.43  3681522    1702.95
3 2019-06-03   AMZN  1695.97      NaN      NaN  1668.95  3996001    1695.97
4 2019-07-03   AMZN  1667.37  1669.75  1620.51  1625.95  4957017    1667.37

   mean_high  mean_low  mean_close
0    1674.26   1651.00     1671.73
1    1709.43   1674.36     1696.17
2    1707.80   1689.01     1692.43
3        NaN       NaN     1668.95
4    1669.75   1620.51     1625.95

LAB3.4

ĐỌC FILE COMPANIES

In [5]:
companies=pd.read_csv('D:/17A3KHDL/LAB3/DATA/companies.csv')

HIỂN THỊ 5 DÒNG ĐẦU TIÊN CỦA COMPANIES

In [6]:
print('Hiển thị 5 dòng đầu :')
print(companies.head())

Hiển thị 5 dòng đầu :
   name  employees headquarters_city headquarters_state
0  AMZN     613300           Seattle                 WA
1  GOOG      98771     Mountain View                 CA
2  AAPL     132000         Cupertino                 CA
3    FB      48268        Menlo Park                 CA
4  TSLA      48016         Palo Alto                 CA

KẾT HỢP STOCKS VÀ COMPANIES DỰA TRÊN CỘT CHUNG LÀ SYMBOL

In [26]:
ket_hop_stocks_companies=pd.merge(stocks,companies,left_on="symbol",right_on="name",how="inner")
print('Dữ liệu sau khi kết hợp là :')
print(ket_hop_stocks_companies)

Dữ liệu sau khi kết hợp là :
         date symbol     open       high      low    close    volume  name  \
0  2019-01-03   AMZN  1655.13  1674.2600  1651.00  1671.73   4974877  AMZN
1  2019-04-03   AMZN  1685.00  1709.4300  1674.36  1696.17   6167358  AMZN
2  2019-05-03   AMZN  1702.95  1707.8000  1689.01  1692.43   3681522  AMZN
3  2019-06-03   AMZN  1695.97        NaN      NaN  1668.95   3996001  AMZN
4  2019-07-03   AMZN  1667.37  1669.7500  1620.51  1625.95   4957017  AMZN
5  2019-01-03   AAPL   174.28   175.1500   172.89   174.97  25886167  AAPL
6  2019-04-03   AAPL   175.69   177.7500   173.97   175.85  27436203  AAPL
7  2019-05-03   AAPL   175.94   176.0000   174.54   175.53  19737419  AAPL
8  2019-06-03   AAPL   174.67   175.4900   173.94   174.52  20810384  AAPL
9  2019-07-03   AAPL   173.87   174.4400   172.02   172.50  24796374  AAPL
10 2019-01-03   GOOG  1124.90  1142.9700  1124.75  1140.99   1450316  GOOG
11 2019-04-03   GOOG  1146.99  1158.2800  1130.69  1147.80   1446047  GOOG
12 2019-05-03   GOOG  1150.06        NaN      NaN  1162.03   1443174  GOOG
13 2019-06-03   GOOG  1162.49  1167.5700  1155.49  1157.86   1099289  GOOG
14 2019-07-03   GOOG  1155.72  1156.7600  1134.91  1143.30   1166559  GOOG
15 2019-01-03     FB   162.60   163.1320   161.69   162.28  11097770    FB
16 2019-04-03     FB   163.90   167.5000   163.83   167.37  18894689    FB
17 2019-05-03     FB   167.37   171.8800   166.55   171.26  28187890    FB
18 2019-06-03     FB   172.90   173.5700   171.27   172.51  21531723    FB
19 2019-07-03     FB   171.50   171.7400   167.61   169.13  18306504    FB
20 2019-01-03   TSLA   306.94   307.1300   291.90   294.79  22911375  TSLA
21 2019-04-03   TSLA   298.12   299.0000   282.78   285.36  17096818  TSLA
22 2019-05-03   TSLA   282.00   284.0000   270.10   276.54  18764740  TSLA
23 2019-06-03   TSLA   276.48   281.5058   274.39   276.24  10335485  TSLA
24 2019-07-03   TSLA   278.84   284.7000   274.25   276.59   9442483  TSLA

    employees headquarters_city headquarters_state
0      613300           Seattle                 WA
1      613300           Seattle                 WA
2      613300           Seattle                 WA
3      613300           Seattle                 WA
4      613300           Seattle                 WA
5      132000         Cupertino                 CA
6      132000         Cupertino                 CA
7      132000         Cupertino                 CA
8      132000         Cupertino                 CA
9      132000         Cupertino                 CA
10      98771     Mountain View                 CA
11      98771     Mountain View                 CA
12      98771     Mountain View                 CA
13      98771     Mountain View                 CA
14      98771     Mountain View                 CA
15      48268        Menlo Park                 CA
16      48268        Menlo Park                 CA
17      48268        Menlo Park                 CA
18      48268        Menlo Park                 CA
19      48268        Menlo Park                 CA
20      48016         Palo Alto                 CA
21      48016         Palo Alto                 CA
22      48016         Palo Alto                 CA
23      48016         Palo Alto                 CA
24      48016         Palo Alto                 CA

TÍNH GIÁ ĐÓNG CỬA (CLOSE) TRUNG BÌNH CHO MỖI CÔNG TY

In [27]:
gia_dong_cua_tb=ket_hop_stocks_companies.groupby("symbol")["close"].mean().reset_index()
gia_dong_cua_tb.columns = ["Tên công ty", "Giá đóng cửa trung bình"]
print(gia_dong_cua_tb)

  Tên công ty  Giá đóng cửa trung bình
0        AAPL                  174.674
1        AMZN                 1671.046
2          FB                  168.510
3        GOOG                 1150.396
4        TSLA                  281.904

HIỂN THỊ 5 KẾT QUẢ ĐẦU

In [18]:
print(gia_dong_cua_tb.head())

  Tên công ty  Giá đóng cửa trung bình
0        AAPL                  174.674
1        AMZN                 1671.046
2          FB                  168.510
3        GOOG                 1150.396
4        TSLA                  281.904

LAB3.5

1. Tạo MultiIndex cho DataFrame stocks bằng cách sử dụng cột date và symbol làm chỉ mục

In [38]:
stocks.set_index(["date", "symbol"], inplace=True)
print("DataFrame sau khi tạo MultiIndex:")
print(stocks.head())

DataFrame sau khi tạo MultiIndex:
                      open     high      low    close   volume
date       symbol
2019-01-03 AMZN    1655.13  1674.26  1651.00  1671.73  4974877
2019-04-03 AMZN    1685.00  1709.43  1674.36  1696.17  6167358
2019-05-03 AMZN    1702.95  1707.80  1689.01  1692.43  3681522
2019-06-03 AMZN    1695.97      NaN      NaN  1668.95  3996001
2019-07-03 AMZN    1667.37  1669.75  1620.51  1625.95  4957017

2.Sử dụng GroupBy để tính giá trung bình (open, high, low, close) và volume trung bình cho mỗi ngày, cho mỗi mã chứng khoán

In [43]:
nhom_stocks = ket_hop_stocks_companies.groupby('name')

gia_tri_tb = nhom_stocks.agg({ 'open': 'mean',
                               'high': 'mean',
                               'low': 'mean',
                               'close': 'mean',
                               'volume': 'mean'
})

print("Giá trung bình và volume trung bình của mỗi công ty:")
print(gia_tri_tb)

Giá trung bình và volume trung bình của mỗi công ty:
          open        high       low     close      volume
name
AAPL   174.890   175.76600   173.472   174.674  23733309.4
AMZN  1681.284  1690.31000  1658.720  1671.046   4755355.0
FB     167.654   169.56440   166.190   168.510  19603715.2
GOOG  1148.032  1156.39500  1136.460  1150.396   1321077.0
TSLA   288.476   291.26716   278.684   281.904  15710180.2

3.Sắp xếp dữ liệu theo ngày và mã chứng khoán.

In [44]:
sorted_data = ket_hop_stocks_companies.reset_index().sort_values(by=['date', 'symbol']).set_index(['date', 'symbol'])

4. Hiển thị kết quả cho 5 ngày đầu tiên.

In [46]:
ket_qua_5_ngay =sorted_data.groupby(level="date").head(5)
print(ket_qua_5_ngay)

                   index     open       high      low    close    volume  \
date       symbol
2019-01-03 AAPL        5   174.28   175.1500   172.89   174.97  25886167
           AMZN        0  1655.13  1674.2600  1651.00  1671.73   4974877
           FB         15   162.60   163.1320   161.69   162.28  11097770
           GOOG       10  1124.90  1142.9700  1124.75  1140.99   1450316
           TSLA       20   306.94   307.1300   291.90   294.79  22911375
2019-04-03 AAPL        6   175.69   177.7500   173.97   175.85  27436203
           AMZN        1  1685.00  1709.4300  1674.36  1696.17   6167358
           FB         16   163.90   167.5000   163.83   167.37  18894689
           GOOG       11  1146.99  1158.2800  1130.69  1147.80   1446047
           TSLA       21   298.12   299.0000   282.78   285.36  17096818
2019-05-03 AAPL        7   175.94   176.0000   174.54   175.53  19737419
           AMZN        2  1702.95  1707.8000  1689.01  1692.43   3681522
           FB         17   167.37   171.8800   166.55   171.26  28187890
           GOOG       12  1150.06        NaN      NaN  1162.03   1443174
           TSLA       22   282.00   284.0000   270.10   276.54  18764740
2019-06-03 AAPL        8   174.67   175.4900   173.94   174.52  20810384
           AMZN        3  1695.97        NaN      NaN  1668.95   3996001
           FB         18   172.90   173.5700   171.27   172.51  21531723
           GOOG       13  1162.49  1167.5700  1155.49  1157.86   1099289
           TSLA       23   276.48   281.5058   274.39   276.24  10335485
2019-07-03 AAPL        9   173.87   174.4400   172.02   172.50  24796374
           AMZN        4  1667.37  1669.7500  1620.51  1625.95   4957017
           FB         19   171.50   171.7400   167.61   169.13  18306504
           GOOG       14  1155.72  1156.7600  1134.91  1143.30   1166559
           TSLA       24   278.84   284.7000   274.25   276.59   9442483

                   name  employees headquarters_city headquarters_state
date       symbol
2019-01-03 AAPL    AAPL     132000         Cupertino                 CA
           AMZN    AMZN     613300           Seattle                 WA
           FB        FB      48268        Menlo Park                 CA
           GOOG    GOOG      98771     Mountain View                 CA
           TSLA    TSLA      48016         Palo Alto                 CA
2019-04-03 AAPL    AAPL     132000         Cupertino                 CA
           AMZN    AMZN     613300           Seattle                 WA
           FB        FB      48268        Menlo Park                 CA
           GOOG    GOOG      98771     Mountain View                 CA
           TSLA    TSLA      48016         Palo Alto                 CA
2019-05-03 AAPL    AAPL     132000         Cupertino                 CA
           AMZN    AMZN     613300           Seattle                 WA
           FB        FB      48268        Menlo Park                 CA
           GOOG    GOOG      98771     Mountain View                 CA
           TSLA    TSLA      48016         Palo Alto                 CA
2019-06-03 AAPL    AAPL     132000         Cupertino                 CA
           AMZN    AMZN     613300           Seattle                 WA
           FB        FB      48268        Menlo Park                 CA
           GOOG    GOOG      98771     Mountain View                 CA
           TSLA    TSLA      48016         Palo Alto                 CA
2019-07-03 AAPL    AAPL     132000         Cupertino                 CA
           AMZN    AMZN     613300           Seattle                 WA
           FB        FB      48268        Menlo Park                 CA
           GOOG    GOOG      98771     Mountain View                 CA
           TSLA    TSLA      48016         Palo Alto                 CA

LAB3.6

1. Tạo Pivot Table từ DataFrame stocks với date làm chỉ mục, symbol làm cột, và giá 
trị trung bình của close làm giá trị.

In [47]:
pivot_table = pd.pivot_table(stocks, values='close', index='date', columns='symbol', aggfunc='mean')
print(pivot_table)

symbol        AAPL     AMZN      FB     GOOG    TSLA
date
2019-01-03  174.97  1671.73  162.28  1140.99  294.79
2019-04-03  175.85  1696.17  167.37  1147.80  285.36
2019-05-03  175.53  1692.43  171.26  1162.03  276.54
2019-06-03  174.52  1668.95  172.51  1157.86  276.24
2019-07-03  172.50  1625.95  169.13  1143.30  276.59

2. Thêm một cột tính tổng volume giao dịch cho mỗi mã chứng khoán (symbol)

In [48]:
pivot_table['total_volume'] = stocks.groupby('symbol')['volume'].sum()
print(pivot_table)

symbol        AAPL     AMZN      FB     GOOG    TSLA  total_volume
date
2019-01-03  174.97  1671.73  162.28  1140.99  294.79           NaN
2019-04-03  175.85  1696.17  167.37  1147.80  285.36           NaN
2019-05-03  175.53  1692.43  171.26  1162.03  276.54           NaN
2019-06-03  174.52  1668.95  172.51  1157.86  276.24           NaN
2019-07-03  172.50  1625.95  169.13  1143.30  276.59           NaN

3. Sắp xếp Pivot Table dựa trên tổng volume giao dịch, từ cao xuống thấp.

In [49]:
pivot_table_sorted = pivot_table.sort_values(by='total_volume', ascending=False)

4. Hiển thị kết quả cho 5 mã chứng khoán có tổng volume giao dịch cao nhất

In [50]:
top_5_stocks = pivot_table_sorted.head()
print("Kết quả cho 5 mã chứng khoán có tổng volume giao dịch cao nhất:")
print(top_5_stocks)

Kết quả cho 5 mã chứng khoán có tổng volume giao dịch cao nhất:
symbol        AAPL     AMZN      FB     GOOG    TSLA  total_volume
date
2019-01-03  174.97  1671.73  162.28  1140.99  294.79           NaN
2019-04-03  175.85  1696.17  167.37  1147.80  285.36           NaN
2019-05-03  175.53  1692.43  171.26  1162.03  276.54           NaN
2019-06-03  174.52  1668.95  172.51  1157.86  276.24           NaN
2019-07-03  172.50  1625.95  169.13  1143.30  276.59           NaN